 
/* background */
body{
    text-align: center;
    background-color: #FFFBF5;
}
.background{
    width: 100%;
    height: 745px;
}


/* navbar */
.logo{
    width: 60px;
}

.heading{
    padding-top: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(13, 108, 39);
}

.navbar{
    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
}

.navTxt{
    margin-right: 55px;
    font-size: 20px;
    font-family: Verdana;
    color: aliceblue;
}

.loginButton{
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
}

.loginButton:hover{
    background-color: rgb(230, 230, 230);
}


/* about  */
#about{
    padding: 120px 10px 120px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* carousel */
.c-item{
    height: 700px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}


/* contact */
#contact {
    padding: 8% 0% 6% 0%;
    text-align: center;
}

.ico {
    padding: 0px 8px 16px 8px;
}