body{
    background-color:rgba(18, 47, 39, 0.13);
    text-align: center;
    box-sizing: border-box;
}

/* navbar */
/* navbar */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: rgb(67, 67, 67);
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 28px;
    padding-left: 20px;
}

/* NAVBAR MENU */
.menu {
    display:flex;
    gap: 1em;
    font-size: 18px;
}

.menu li a:hover {
    color: #c6c6c6;
}

.menu li {
    padding: 8px 10px 2px 10px;
}

/* buttons */

.buttons{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn{
    margin: 10px 10px;
}

.heading{
    margin: 10px;
    color: rgb(18, 41, 81);
}

/* cards */
.row{
    /* width:auto; */
    padding:40px 80px;
}

.card{
    margin: 10px;
}

/* backgroundPhotos */
.breakfast{
    background: linear-gradient(rgba(254, 249, 249, 0.977),rgba(251, 246, 246, 0.9)),url("images/breakfast.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

}
.lunch{
    background: linear-gradient(rgba(248, 244, 244, 0.941),rgba(249, 243, 243, 0.9)),url("images/lunch.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.dinner{
    background: linear-gradient(rgba(248, 241, 241, 0.973),rgba(250, 243, 243, 0.9)),url("images/dinner.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/* JS clsses to add and remove */
.sat-size{
  font-size: 30px;
}
.sun-size{
    font-size: 30px;
}
.mon-size{
    font-size: 30px;
}
.tue-size{
    font-size: 30px;
}
.wed-size{
    font-size: 30px;
}
.thu-size{
    font-size: 30px;
}
.fri-size{
    font-size: 30px;
}