body{
    background-color:rgba(18, 47, 39, 0.13);
    justify-content: center;
    text-align: center;
}


.buttons{
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
}
.btn{
    margin: 10px 10px;
}

.heading{
    margin: 10px;
    color: rgb(18, 41, 81);
}

.row{
    width:auto;
    padding:40px 80px;
}
.card{
    margin: 10px;
}

.sat-size{
  font-size: 30px;
}
.sun-size{
    font-size: 30px;
}
.mon-size{
    font-size: 30px;
}
.tue-size{
    font-size: 30px;
}
.wed-size{
    font-size: 30px;
}
.thu-size{
    font-size: 30px;
}
.fri-size{
    font-size: 30px;
}