/* background */
body {
	background-image: url(Images/Student-login-img.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: 0;
	font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
	height: 100vh;
	display: flex;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


/* navbar */
.logo {
	width: 60px;
}

.heading {
	padding-top: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: rgb(255, 255, 255);
}

.navbar {
	background-color: rgb(0, 0, 0, 0.2);
	position: absolute;
	width: 100%;
}

.navTxt {
	border: #ffffff solid 1px;
	border-radius: 10px;
	margin-right: 35px;
	font-size: 20px;
	font-family: Verdana;
	color: aliceblue;
}

.navTxt:hover {
	background-color: white;
	color: black;
}

.forms-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 6rem;
}

.form-heading{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-title {
	font-size: 32px;
	letter-spacing: 1px;
	color: #fff;
}

.forms {
	display: flex;
	align-items: flex-start;
}

.form-wrapper {
	animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
	animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
	50% {
		z-index: 1;
	}

	100% {
		z-index: 1;
	}
}

@keyframes hideLayer {
	0% {
		z-index: 1;
	}

	49.999% {
		z-index: 1;
	}
}

.switcher {
	margin-top: 30px;
	position: relative;
	cursor: pointer;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	text-transform: uppercase;
	font-family: inherit;
	font-size: 20px;
	letter-spacing: .5px;
	color: #000000;
	background-color: transparent;
	border: none;
	outline: none;
	transform: translateX(0);
	transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
	color: #fff;
	transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
	color: #fff;
	transform: translateX(-90px);
}

.underline {
	position: absolute;
	bottom: -5px;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 2px;
}

.underline::before {
	content: '';
	position: absolute;
	top: 0;
	left: inherit;
	display: block;
	width: inherit;
	height: inherit;
	background-color: currentColor;
	transition: transform .2s ease-out;
}

.switcher-login .underline::before {
	transform: translateX(101%);
}

.switcher-signup .underline::before {
	transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
	transform: translateX(0);
}

.form {
	box-shadow: inset 0 0 0 2px rgb(189, 189, 189);
	overflow: hidden;
	min-width: 260px;
	margin-top: 50px;
	padding: 30px 25px;
	border-radius: 5px;
	transform-origin: top;
}

.form-login {
	animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
	animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
	0% {
		background: rgb(0, 0, 0, 0.2);;
		transform: translate(40%, 10px);
	}

	50% {
		transform: translate(0, 0);
	}

	100% {
		background-color: rgb(225, 225, 225);
		transform: translate(35%, -20px);
	}
}

@keyframes hideLogin {
	0% {
		background-color: rgb(0, 0, 0, 0.2);
		transform: translate(35%, -20px);
	}

	50% {
		transform: translate(0, 0);
	}

	100% {
		background: rgb(201, 201, 201);
		transform: translate(40%, 10px);
	}
}

.form-signup {
	animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
	animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
	0% {
		background: rgb(0, 0, 0, 0.2);;
		transform: translate(-40%, 10px) scaleY(.8);
	}

	50% {
		transform: translate(0, 0) scaleY(.8);
	}

	100% {
		background-color: rgb(225, 225, 225);
		transform: translate(-35%, -20px) scaleY(1);
	}
}

@keyframes hideSignup {
	0% {
		background-color: rgb(0, 0, 0, 0.2);;
		transform: translate(-35%, -20px) scaleY(1);
	}

	50% {
		transform: translate(0, 0) scaleY(.8);
	}

	100% {
		background: rgb(201, 201, 201);
		transform: translate(-40%, 10px) scaleY(.8);
	}
}

.form fieldset {
	position: relative;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: 0;
	transition: all .3s ease-out;
}

.form-login fieldset {
	transform: translateX(-50%);
}

.form-signup fieldset {
	transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
	opacity: 1;
	transform: translateX(0);
	transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.input-block {
	margin-bottom: 20px;
}

.input-block label {
	font-size: 14px;
	color: #000000;
}

.input-block input {
	display: block;
	width: 100%;
	margin-top: 8px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	line-height: 40px;
	color: #3b4465;
	background: #e0e0e0;
	border: 1px solid #b3b3b3;
	border-radius: 6px;
}

.form [type='submit'] {
	opacity: 0;
	display: block;
	min-width: 120px;
	margin: 30px auto 10px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 25px;
	border: none;
	transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s ease-in;
}

.btn-login {
	color: #fefefe;
	background: #999999;
	transform: translateX(-30%);
}

.btn-login:hover{
	background-color: #537a47;
	color: white;
}

.btn-signup {
	color: #fefefe;
	background: #999999;
	transform: translateX(30%);
}

.btn-signup:hover{
	background-color: #537a47;
	color: white;
}